<!DOCTYPE html>
<html>
  <script>
    window.onload = function(){
      let Foods = <%=foods%>;
      let Nutrients = <%=nutrition.DRI%>;
      let Micronutrients = <%=nutrition.micronutrients%>;

      let foodDiv = document.getElementById("FOODS-DIV")
      let nutrientsDiv = document.getElementById("NUTRIENTS-DIV")
      let micronutrientsDiv = document.getElementById("MICRO-DIV")

      for(food in Foods){
        const paragraph = document.createElement('p');
        paragraph.textContent = food;
        foodDiv.appendChild(paragraph);
      }
      for(nutrient in Nutrients){
        const paragraph = document.createElement('p');
      paragraph.textContent = nutrient;     
        nutrientsDiv.appendChild(paragraph);
      }
      for(micro in Micronutrients){
        const paragraph = document.createElement('p');
        paragraph.textContent = micro;
        micronutrientsDiv.appendChild(paragraph);
      }
      
    }
  </script>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DRI and Micronutrients</h1>
      <p1><%=a%>, </p1>
      <p2><%=b%>, </p2>
      <p3><%=c%>, </p3>
      <p4><%=d%>, </p4>
      <p5><%=e%>, </p5>
      <p6><%=f%>, </p6>
      <p7><%=g%>, </p7>
      <p8><%=h%>, </p8>
      <p9><%=i%>, </p9>
      <p10><%=j%>, </p10>
      <p11><%=k%>, </p11>
      <p12><%=l%>, </p12>

    <h3>Diet</h3>
      <p13><%=m%>, </p13>
      <p14><%=n%>, </p14>
      <p15><%=o%>. </p15>
  </body>
</html>