<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DRI and Micronutrients</h1>
      <p1><%=a%>, </p1>
      <p2><%=b%>, </p2>
      <p3><%=c%>, </p3>
      <p4><%=d%>, </p4>
      <p5><%=e%>, </p5>
      <p6><%=f%>, </p6>
      <p7><%=g%>, </p7>
      <p8><%=h%>, </p8>
      <p9><%=i%>, </p9>
      <p10><%=j%>, </p10>
      <p11><%=k%>, </p11>
      <p12><%=l%>, </p12>

    <h3>Diet</h3>
      <p13><%=m%>, </p13>
      <p14><%=n%>, </p14>
      <p15><%=o%>. </p15>
  </body>
</html>